img {
    width: 100%;
    height: 100%;
}

tr.freeze {
    background: #f1c9c9;
}

.table-dark.table-hover tbody tr.freeze:hover {
    background: #f1c9c9;
}

tr.freeze::before {
    color: black;
    position: absolute;
    left: 40%;
    padding-top: 20px;
}

.popup .modal-body {
    background-color: #0f8845;
    color: white;
}

.loader {
    width: 60px;
    height: 60px;
}

.logger {
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.47);
    border: 1px solid rgba(127, 91, 92, 0.38);
    border-radius: 3px;
    max-height: 150px;
    overflow-y: scroll;
    font-size: 8pt;
    width: 300px;
}

.logger ul {
    padding: 0px;
}
.logger li {
    list-style-type: none;
}